* {
  font-family: "Inter", sans-serif !important;
  border: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
}

html,
#body-tag-id {
  color: #000;
}

ul {
  list-style-type: none;
}

button {
  cursor: pointer;
  background-color: transparent;
}

a {
  text-decoration: none;
}

body {
  user-select: none;
}

input {
  user-select: all;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  /* Hide scrollbar for Chrome, Safari and Opera */
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.utility__rightToLeftAnimation {
  animation: utility__rightToLeftAnimation_keyframe 0.2s;
}

@keyframes utility__rightToLeftAnimation_keyframe {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

textarea {
  resize: none;
}

.rotateDeviceSection {
  display: none;
}

@media (orientation: landscape) {
  .mainAppDiv {
    display: none;
  }
  .rotateDeviceSection {
    display: block;
  }
}

@keyframes utility__bounceKeyframe {
  20%,
  53%,
  80%,
  0%,
  100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }
  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -7px, 0);
    transform: translate3d(0, -7px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -1px, 0);
    transform: translate3d(0, -1px, 0);
  }
}

.utility__bounce {
  animation: utility__bounceKeyframe 2s infinite;
}
.merriweather-font {
  font-family: "Merriweather", serif !important;
}
